
.flex {
    display: flex;
    &.j-center {
        justify-content: center;
    }
    &.j-between {
        justify-content: space-between;
    }
    &.j-around {
        justify-content: space-around;
    }
    &.j-start {
        justify-content: flex-start;
    }
    &.j-end {
        justify-content: flex-end;
    }
    &.a-center {
        align-items: center;
    }
    &.a-end {
        align-items: flex-end;
    }
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}