
.flex {
    display: flex;
    &.j-center {
        justify-content: center;
    }
    &.j-between {
        justify-content: space-between;
    }
    &.j-around {
        justify-content: space-around;
    }
    &.j-start {
        justify-content: flex-start;
    }
    &.j-end {
        justify-content: flex-end;
    }
    &.a-center {
        align-items: center;
    }
    &.a-end {
        align-items: flex-end;
    }
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}


//文字局中
.text-center{
    text-align: center;
}
//子元素图片剧中
//align-items: center

//view文字垂直居中
// height: 58rpx;
//line-height: 58rpx;


//小程序主题色
.themeColor{color:#ffb12a;}
.themeBgcolor{background-color:#ffb12a;}

//css线性渐变
//background: linear-gradient(-18deg, #ffaf25, #ffc259);


//居中显示
/** 
.mask{
    width:100%;
    height:100%;
    position:fixed;
    background-color:#999;
    z-index:9999;
    top:0;
    left:0;
    opacity:0.5;
  }
  .main{
    width:555rpx;
    height:572rpx;
    background-color: #fff;
    border-radius: 12rpx;
    position:fixed;
    z-index: 99999;
    top:50%;
    margin-top:-286rpx;
    left:50%;
    margin-left:-277rpx;
    
  }
**/

//circle
.circle{
    width: 80px;
    height:80px;
    border-radius: 50%;
    border-style: solid;    
}
.block{
    width: 325px;
    height: 56px;
    border-style: 1px solid;
    margin:10px 20px;
}

