page {
  font-family: 'PingFang SC', 'Microsoft YaHei', Helvetica, Tahoma,  sans-serif;
  font-size: 28rpx;
  color: #4D495B;
  background-color:#fffefb;
}
.app {
  min-height: 100vh;
  font-family: 'PingFang SC';
  border: 1px solid #ffffff;
  background-color: #fffefb;
}
button {
  background-color: #fff;
  border-radius: 0;
}
button::after {
  border: none;
}
.button-hover {
  background-color: transparent;
}
.navigatabar {
  width: 630rpx;
  height: 92rpx;
  margin: 40rpx 60rpx 40rpx 60rpx;
  border-radius: 2px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  align-items: flex-end;
  justify-content: space-around;
  &_item {
    width: 162rpx;
    height: 66rpx;
    font-size: 32rpx;
    align-items: flex-end;
    border-bottom:6rpx #ffffff solid;
    font-weight: 600;
    &.borderColor {
      color: #ffc86d;
      border-bottom:6rpx #ffc86e solid;
    }
  }
}
.darkButton {
  margin-top: 40rpx;
  margin-bottom: 60rpx;
  border-radius: 23px;
  min-height: 92rpx;
  line-height: 92rpx;
  color: #ffffff;
  padding:0 40rpx;
  font-size: 28rpx;
  font-weight: 600;
  background-color: #ffc86d;
  &-hover {
    background-color: transparent;
    border: 2rpx solid #ffc86d;
  }
}

.lightButton {
  margin-top: 40rpx;
  margin-bottom: 60rpx;
  border-radius: 23px;
  min-height: 92rpx;
  line-height: 92rpx;
  font-weight: 600;
  color: #4D495B;
  padding:0 40rpx;
  font-size: 28rpx;
  border: 2rpx solid #ffc86d;
  box-sizing: border-box;
  background-color: #ffffff;
  &-hover {
    background-color: transparent;
    border: 2rpx solid #ffc86d;
  }
}

input {
  outline: none;
  border: none;
  list-style: none;
}
.shadow {
  box-shadow: 0 0 40rpx 0 rgba(0, 0, 0, 0.05);
}
.flex {
  display: flex;
  &.j-center {
    justify-content: center;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-around {
    justify-content: space-around;
  }
  &.j-start {
    justify-content: flex-start;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-start {
    align-items: flex-start;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.s-around {
    align-items: space-around;
  }
  &.s-between {
    align-items: space-between;
  }
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.grow {
  flex-grow: 1;
}


.text-center {
  text-align: center;
}

//小程序主题色
.themeColor {
  color: #ffb12a;
}
.themeBgcolor {
  background-color: #ffb12a;
}
//全局默认图标大小
.iconfont {
  width: 44rpx;
  height: 44rpx;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.block {
  width: 325px;
  height: 56px;
  border-style: 1px solid;
  margin: 10px 20px;
}

.spanCover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box {
  box-sizing: border-box;
}